@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');


/*-------------------------------------------------------------------------Carousel*/

.carousel-item {
  height: 100vh;
  min-height: 350px;
  margin-top: 60px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron{
    background-color: transparent;
    margin-top: 3rem;
    margin-bottom: 0;
}

/*-------------------------------------------------------------------------Book-Us*/

.book-heading {
    color: #fafafa;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    
}

.book-sub {
    color: #fafafa;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
}

.book-instruct {
    color: #fafafa;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25rem;
    font-weight: 200;
}



.bg-img-stage {
    background: url('../../assets/images/fireworks.jpg') no-repeat fixed right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label {
    color: #fafafa;
}


/*-------------------------------------------------------------------------contact form*/

.form-control {
    background-color:  rgba(255, 255, 255, .75);
    border: none;
} 

.contact {
    float: right;
}

/*-------------------------------------------------------------------------About*/

.about-jumbo {
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.about-heading {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
   
    
}

.about-sub {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.5rem;
}

.bg-img-guitar {
    background: url('../../assets/images/speaker.jpg') no-repeat fixed left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.card-img-top.img-fluid {
    height: 220px;
    
}

.about-card {
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.45);
    margin-bottom: 1rem;
}

.about-card-title {
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1px;
}

.card-text:last-child {
    text-align: left;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}



/*-------------------------------------------------------------------------Music Section*/
.music-heading {
    margin-top: 2rem;
}


.spot-icon {
    margin-bottom: 30px;
    text-align: center;
}

.lg-album {
    margin-bottom: 30px;
    margin-top: 30px;
}

audio {
    width: 220px;
    height: 1.8rem;
    text-align: center;
}

.list-group {
    margin-top: 2rem;
    
}

.list-group-item {
    color: #000;
    border: none;
}


/*-------------------------------------------------------------------------Video Section*/

.bg-vid {
    background-color: #696969;
    margin: 5rem 0;
    padding: 2rem; 
    
}



/*-------------------------------------------------------------------------Tour*/

.tour-container {
    background-color: #696969;
    margin-top: 2rem;
    padding-top: 4rem;

}

.heading-tour {
    color: #000;
    margin-bottom: 3rem;
    font-family: "Playfair Display", serif;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: 600;
    text-align: center;
}

.tr-quote {
    color: #000;
    text-align: left;
    padding: 15px;
    display: inline-block;
}

.blockquote-footer {
    text-align: right;
}

aside {
    display:inline-block;
}


.tour-heading {
    color: #000;
    border: none;
    text-align: center;
}
.dates {
    color: #000;
    text-align: center;
}

.bq-heading {
    font-family: "Roboto Slab";
    color:  #000;
    margin-bottom: 3rem;
}

.tour-dates {
    display: block;
}

/*-------------------------------------------------------------------------Gallery*/

.gallery-heading {
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    
}

.gallery-sub {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.75rem;
}

.img-gallery {
    width: 100%;
    height: 100%;
}
hr {
    border-top: 1px solid;
    color: #fff;
    margin-top:2rem;
}

.bg-img-gallery {
    background: url('../../assets/images/space.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}








/*------------------------------------------------------------------------- Global Margin & Padding*/





/*-------------------------------------------------------------------------Footer*/

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
}

/* html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] 
}--------*/



.social-links li a i {
    width: 48px;
    height: 48px;
    padding: 18px 0;
    margin: 10px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 12px;
    text-align: center;
    color: #808080;
    background: #a9a9a9;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.social-links li a i:hover {
    background-color: #fafafa;
}
