/*-------------------------------------------------------------------------Carousel*/

.carousel-item {
  height: 80vh;
  min-height: 350px;
  margin-top: 60px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
